node_modules
# Keep environment variables out of version control
.env

/generated/prisma

Backend/.env
Backend/src/Config/uhid-auth-firebase-service-account.json
Backend/src/Config/*service-account*.json