node_modules
# Keep environment variables out of version control
*.env*

/generated/prisma
.env
.env.*
src/Config/*.json
src/Config/uhid-auth-firebase-service-account.json
src/Config/*service-account*.json